.cat-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.cat-breed{
    flex: 1 1 300px;
    margin: 1em;
}

.cat-breed img{
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    max-width: 100%;
}

.cat-breed :hover{
    transform: scale(1.05);
}
